//Dark-blue
$color-background: #1c1c1c
$color-draw: #85a3b0

$color-main-text: #dadada

$color-circles: #24323f
$color-circle-text: #c5c5c5
$color-circle-selected: #557897
$color-circle-marked: #3a6a80
$color-circle-wrong: #fb1919

$color-out-number-text: #a5c0cc
